/* Section LIEU */
.story {
  #place {
    display: flex;
    background-image: url("./assets/images/Studio_Koukaki-image_place.png");
    width: 100%;
    min-height: 699px;
    background-size: cover;
    position: relative;
  }
}

.clouds-container {
  position: absolute;
  top: 70px;
  right: 400px;
  z-index: 1;

  .cloud {
    max-width: 300px;
    position: absolute;
    filter: blur(10px);

    &1 {
      // .cloud1
      top: 0px;
      left: 0px;
    }

    &2 {
      // .cloud2
      top: 200px;
      left: -200px;
    }
  }
}
/* FIN Section LIEU */
